
/* Hero */
.container.homepage .row.hero {
    width:100%;
    height:495px;
    background:#fff url('../../images/front/hero.jpg') no-repeat center center;
    background-size:cover;
    padding:9em 0;
    border-bottom:9px solid #f28520;
}
.container.homepage .row.hero .inner .columns.twelve .details h1 {
    font-size:95px;
    font-family:bebas-neue,sans-serif;
    font-weight:500;
    text-transform:uppercase;
    color:#fff;
    line-height:0.9em;
    float:left;
    width:100%;
    margin:0;
    padding:0;
    text-align:center;
}
.container.homepage .row.hero .inner .columns.twelve .details p {
    color:#fff;
    font-size:36px;
    line-height:1.05em;
    font-weight:400;
    float:left;
    width:100%;
    margin:0.15em 0 0.75em 0;
    padding:0;
    text-align:center;
}
.container.homepage .row.hero .inner .columns.twelve .details a {
    float:left;
    width:100%;
    font-size:30px;
    color:#f28520;
    text-transform:uppercase;
    text-align:center;
}
.container.homepage .row {
    padding:3em 0;
}
.container.homepage .row .columns.twelve {
    position:relative;
}
.container.homepage .row .columns.twelve h2 {
    font-size:2em;
    font-weight:500;
    line-height:1.15em;
    width:100%;
    text-transform:uppercase;
    text-align:center;
    margin:0 0 0.5em 0;
}
.container.homepage .row .columns.twelve p.description {
    font-size:1.25em;
    font-weight:300;
    text-align:center;
    margin:0 0 1em 0;
    line-height:1.35em;
}
.container.homepage .row.amplify {
    background:url('../../images/front/amplify-bg.jpg') no-repeat center bottom;
}
.container.homepage .row.engage {
    background:url('../../images/front/engage-bg.jpg') no-repeat center center;
    background-size:cover;
}
.container.homepage .row.amplify .information,
.container.homepage .row.engage .information {
    float:right;
    width:50%;
    padding:2em 0 11em 0;
}
.container.homepage .row.engage .information {
    float:left;
    width:51%;
}
.container.homepage .row.amplify .information h2,
.container.homepage .row.engage .information h2 {
    float:left;
    width:100%;
    font-size:33px;
    text-transform:uppercase;
    font-weight:500;
    line-height:33px;
    margin:0 0 20px 0;
    text-align:left;
}
.container.homepage .row.amplify .information p,
.container.homepage .row.engage .information p {
    float:left;
    margin:0;
    font-size:18px;
    color:#818180;
    line-height:24px;
    font-weight:500;
}
.container.homepage .row.engage .information p {
    color:#000;
}
.container.homepage .row.amplify .information a,
.container.homepage .row.engage .information a {
    font-size:18px;
    float:left;
    margin:20px 0 0 0;
    color:#fff;
    text-transform:uppercase;
    background-color:#6acbe0;
    border-bottom:2px solid #c3c3c3;
    padding:10px 20px;
    font-weight:600;
    transition:background-color 0.25s ease-in-out;
}
.container.homepage .row.amplify .information a:hover,
.container.homepage .row.engage .information a:hover {
    background-color:#80e8ff;
}

/* Discovery Platform */
.container.homepage .row.discovery-platform {
    background-color:#f2f2f2;
    padding:3em 0 5em 0;
}
.container.homepage .row.discovery-platform .columns.twelve {
    position:relative;
}
.container.homepage .row.discovery-platform .columns.twelve h2 {
    font-size:2em;
    font-weight:500;
    line-height:1.15em;
    width:100%;
    text-transform:uppercase;
    text-align:center;
    margin:0 0 1.5em 0;
}
.container.homepage .row.discovery-platform .columns.twelve p.description {
    font-size:1.25em;
    font-weight:300;
    text-align:center;
    color:#666;
    margin:0 0 3em 0;
    line-height:1.35em;
}
.container.homepage .row.discovery-platform .columns.twelve p.description a {
    font-size:18px;
    color:#f28520;
    text-transform:uppercase;
    font-weight:600;
}
.container.homepage .row.discovery-platform .columns.twelve p.description a:hover {
    text-decoration:underline;
}
.container.homepage .row.discovery-platform .animation {
    position: relative;
    width:100%;
    height: 85px;
    overflow: hidden;
}
.container.homepage .row.discovery-platform .animation img {
    position:absolute;
    top:0;
    left:0;
}
.container.homepage .row.outbrain-numbers .columns.twelve.box {
    float:left;
    width:100%;
    border:3px solid #f39718;
    background-color:#fff;
    margin:2em 0 0 0;
    padding:3em 2em;
}
.container.homepage .row.outbrain-numbers {
    background:url('../../images/front/numbers-bg.jpg') no-repeat center center;
    background-size:cover;
}
.container.homepage .row.outbrain-numbers .columns.twelve.box .columns.four {
    float:left;
    text-align:center;
    padding:0 15px 0 0;
    border-right:1px solid #bbb;
}
.container.homepage .row.outbrain-numbers .columns.twelve.box .columns.four:last-child {
    border-right:none;
}
.container.homepage .row.outbrain-numbers .columns.twelve.box .columns.four h3 {
    float:left;
    width:100%;
    text-transform:uppercase;
    font-weight:400;
    font-size:70px;
    margin:0;
    padding:20px 0;
    font-family:bebas-neue,sans-serif;
}
.container.homepage .row.outbrain-numbers .columns.twelve.box .columns.four p {
    float:left;
    width:100%;
    font-size:23px;
    margin:10px 0 0 0;
    font-weight:500;
    padding:0;
}
.container.homepage .row.outbrain-numbers .columns.twelve.box .columns.four p span {
    color:#818181;
}
.container.homepage .row.outbrain-numbers .columns.twelve.footnote {
    float:left;
    width:100%;
    margin:0;
    padding:0;
}
.container.homepage .row.outbrain-numbers .columns.twelve.footnote p {
    float:left;
    width:100%;
    text-align:center;
    margin:5px 0 0 0;
    padding:0;
    font-size:13px;
    color:#9e9c9c;
}
.container.homepage .row.testimonials {
    padding:4em 0;
}
.container.homepage .row.testimonials .columns.twelve {
    float:left;
    width:100%;
    background-color:#fff;
}
.container.homepage .row.testimonials .columns.twelve #carousel {
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:375px;
    overflow:hidden;
}
.container.homepage .row.testimonials .columns.twelve #carousel .slides {
    cursor:move;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:375px;
    overflow:hidden;    
}
.container.homepage .row.testimonials .columns.twelve #carousel .slides .item .image {
    width:37%;
    float:left;
    margin:3.5em 0 0 1.5em;
}
.container.homepage .row.testimonials .columns.twelve #carousel .slides .item .image img {
    border-radius:50%;
    display:block;
    margin:0 auto;
}
.container.homepage .row.testimonials .columns.twelve #carousel .slides .item .information {
    float:right;
    width:50%;
    height:100%;
    margin:0 1em 0 0;
    position:relative;
    z-index:5;
}
.container.homepage .row.testimonials .columns.twelve #carousel .slides .item .information .copy {
    float:left;
    width:100%;
    text-align:left;
    font-size:25px;
    font-weight:600;
    line-height:32px;
    padding:1.5em 0 0 0;
    margin:0 0 1em 0;
    background:url('../../images/front/quote.png') no-repeat left 0;
}
.container.homepage .row.testimonials .columns.twelve #carousel .slides .item .information .name,
.container.homepage .row.testimonials .columns.twelve #carousel .slides .item .information .title,
.container.homepage .row.testimonials .columns.twelve #carousel .slides .item .information .company {
    float:left;
    width:100%;
    font-size:20px;
    margin:0 0 5px 0;
}
.container.homepage .row.testimonials .columns.twelve #carousel .slides .item .information .name {
    font-weight:600;
    text-transform:uppercase;
}
.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    z-index:10;
}
.container.homepage .row.testimonials .columns.twelve #carousel .jssora13l,
.container.homepage .row.testimonials .columns.twelve #carousel .jssora13ldn {
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(10%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0) 100%); 
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0) 100%); 
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.container.homepage .row.testimonials .columns.twelve #carousel .jssora13r,
.container.homepage .row.testimonials .columns.twelve #carousel .jssora13rdn {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%); 
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(90%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%); 
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%); 
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); 
}
.container.homepage .row.powered-people {
    background-color:#dd4f61;
}
.container.homepage .row.powered-people .title,
.container.homepage .row.powered-people .description {
    color:#fff;
}
.container.homepage .row.powered-people .description a {
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    font-size:18px;
}
.container.homepage .row.powered-people .description a:hover {
    text-decoration:underline;
}
.container.homepage .row.powered-people-collage {
    height:452px;
    background:url('../../images/front/powered-people.jpg') no-repeat center center;
    background-size:cover;
}