/* Hero */
.container.about .row.hero {
    background:#fff url('../../../images/page-templates/about/careers/hero.jpg') no-repeat center center;
}

/* Head */
.container.careers .row.head,
.container.careers .row.bottom {
    background-color:#dd4f61;
    padding:3em 0;
}
.container.careers .row.head .columns.twelve h2,
.container.careers .row.bottom .columns.twelve h2 {
    font-size:2em;
    font-weight:500;
    line-height:1.15em;
    width:100%;
    text-transform:uppercase;
    text-align:center;
    color:#fff;
    margin:0 0 0.5em 0;
}
.container.careers .row.head .columns.twelve p.description,
.container.careers .row.bottom .columns.twelve p.description {
    font-size:1.25em;
    font-weight:300;
    text-align:center;
    color:#fff;
    margin:0 0 1em 0;
    line-height:1.35em;
}
.container.careers .row.head .columns.twelve .cta,
.container.careers .row.bottom .columns.twelve .cta {
    float:left;
    width:100%;
}
.container.careers .row.head .columns.twelve .cta p,
.container.careers .row.bottom .columns.twelve .cta p {
    margin:0 auto;
    display:block;
    font-size:24px;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    padding:0 0 0.65em 0;
}
.container.careers .row.head .columns.twelve .cta a,
.container.careers .row.bottom .columns.twelve .cta a {
    font-weight:600;
    font-size:18px;
    width:150px;
    margin:0 auto;
    display:block;
    color:#fff;
    padding:5px 0;
    border:2px solid #fff;
    text-transform:uppercase;
    text-align:center;
    transition:background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.container.careers .row.head .columns.twelve .cta a:hover,
.container.careers .row.bottom .columns.twelve .cta a:hover {
    background-color:#fff;
    color:#dd4f61;    
}
.container.careers .row.think-outbrainy {
    background:#fff url('../../../images/page-templates/about/careers/think-outbrainy-bg.jpg') no-repeat center center;
    background-size:cover;
}
.container.careers .row.think-outbrainy h2 {
    font-size:33px;
    text-transform:uppercase;
    float:left;
    width:100%;
    text-align:center;
    margin:2em 0;
    font-weight:600;
}
.container.careers .row.think-outbrainy .columns.three {
    margin:0 0 4em 0;
}
.container.careers .row.think-outbrainy .columns.three .icon {
    display:block;
    margin:0 auto;
    width:141px;
    height:141px;
    border-radius:50%;
}
.container.careers .row.think-outbrainy .columns.three.passionate .icon {
    background:#dd4f61 url('../../../images/page-templates/about/careers/fire.png') no-repeat center center;
}
.container.careers .row.think-outbrainy .columns.three.collaborative .icon {
    background:#dd4f61 url('../../../images/page-templates/about/careers/link.png') no-repeat center center;
}
.container.careers .row.think-outbrainy .columns.three.techy .icon {
    background:#dd4f61 url('../../../images/page-templates/about/careers/glasses.png') no-repeat center center;
}
.container.careers .row.think-outbrainy .columns.three.worldly .icon {
    background:#dd4f61 url('../../../images/page-templates/about/careers/globe.png') no-repeat center center;
}
.container.careers .row.think-outbrainy .columns.three h3 {
    width:100%;
    font-size:31px;
    font-weight:500;
    text-transform:uppercase;
    text-align:center;
    margin:15px 0;
}
.container.careers .row.think-outbrainy .columns.three .dash {
    display:block;
    margin:0 auto;
    width:120px;
    height:7px;
    background-color:#dd4f61;
}
.container.careers .row.think-outbrainy .columns.three p {
    font-size:21px;
    width:100%;
    text-align:center;
    margin:10px 0 0 0;
    line-height:27px;
}
.container.careers .row.instagram {
    height:397px;
    background:#fff url('../../../images/page-templates/about/careers/instagram-placeholder.jpg') no-repeat center center;
    background-size:cover;
}
.container.careers .row.meet-team {
    margin:4em 0;
}
.container.careers .row.meet-team h2 {
    font-size:33px;
    text-transform:uppercase;
    float:left;
    width:100%;
    text-align:center;
    font-weight:600;
    margin:0 0 1.5em 0;
}
.container.careers .row.meet-team .columns.four .wrapper {
    width:90%;
    display:block;
    margin:0 auto;
    height:506px;
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
    cursor:pointer;
}
.container.careers .row.meet-team .columns.four .wrapper .information {
    width:100%;
    background-color:rgba(0,0,0,0.75);
    padding:1.5em;
    position:absolute;
    bottom:0;
    left:0;
}
.container.careers .row.meet-team .columns.four .wrapper .information h3 {
    float:left;
    width:100%;
    color:#fff;
    font-size:25px;
    font-weight:500;
    text-transform:uppercase;
    text-align:center;
    margin:0;
}
.container.careers .row.meet-team .columns.four .wrapper .information p {
    float:left;
    width:100%;
    color:#fff;
    font-size:17px;
    text-align:center;
    margin:2px 0 10px 0;
    padding:0 0 10px 0;
    border-bottom:1px solid #fff;
}
.container.careers .row.meet-team .columns.four .wrapper .information a {
    float:left;
    width:100%;
    color:#fff;
    font-size:17px;
    text-align:center;
    margin:0;
    background:url('../../../images/page-templates/about/careers/small-play.png') no-repeat right top;
}