/* Hero */
.container.about .row.hero {
    /*background-image:url('../../../images/page-templates/about/company/hero.jpg');*/
}
/* Sections */
.container.company .row.company {
    background-color:#f4f4f4;
    padding:3em 0 5em 0;
}
.container.company .row.company.padded {
    padding-top:176px;
}
.container.company .row.company .columns.twelve {
    position:relative;
}
.container.company .row.company .columns.twelve h2 {
    font-size:2em;
    font-weight:500;
    line-height:1.15em;
    width:100%;
    text-transform:uppercase;
    text-align:center;
    margin:0 0 1.5em 0;
}
.container.company .row.company .columns.twelve p.description {
    font-size:1.25em;
    font-weight:300;
    text-align:center;
    color:#666;
    margin:0 0 3em 0;
    line-height:1.35em;
}
.container.company .row.company .columns.twelve .left {
    position:absolute;
    right:70%;
    bottom:38%;
    width:250px;
}
.container.company .row.company .columns.twelve .left p.information {
    font-size:1.1em;
    line-height:1.5em;
    font-weight:300;
    text-align:left;
    color:#666;
}
.container.company .row.company .columns.twelve img {
    width:780px;
    float:right;
}
.container.company .row.company.lighthouse {
    background-image:url('../../../images/page-templates/about/company/lighthouse.jpg');
    height:900px;
    background-size:cover;
}