/* Container */
.container .row .columns.two.nav-link {
    width:20%;
}

/* Hero */
.container.about .row.hero {
    width:100%;
    height:395px;
    background-color:#fff;
    background-size:cover !important;
}
.container.about .row.hero .inner .columns.twelve {
    margin:6em 0 0 0;
}
.container.about .row.hero .inner .columns.twelve .details {
    display:block;
    margin:0 auto;
    width:100%;
    text-align:center;
}
.container.about .row.hero .inner .columns.twelve .details h1 {
    font-size:95px;
    font-family:bebas-neue,sans-serif;
    font-weight:500;
    text-transform:uppercase;
    color:#fff;
    line-height:0.9em;
    float:left;
    width:100%;
    margin:0;
    padding:0;
}
.container.about .row.hero .inner .columns.twelve .details p {
    color:#fff;
    font-size:36px;
    line-height:1.05em;
    font-weight:400;
    float:left;
    width:100%;
    margin:0.15em 0 0.75em 0;
    padding:0;
}
.container.about .row.hero .inner .columns.twelve .details a {
    background-color:#87b8d2;
    border-bottom:3px solid #314b4e;
    font-weight:600;
    line-height:52px;
    color:#fff;
    padding: 0.35em 1.75em;
    font-size: 1.75em;
    text-transform: capitalize;
    text-decoration: none;
    transition:background-color 0.15s ease-in-out;
}
.container.about .row.hero .inner .columns.twelve .details a:hover {
    background-color:#78C4EC;
}

/* Sub-Navigation First Level */
.container.about .row.sub-navigation.first-level {
    width:100%;
    border-top:8px solid #f08431;
    background-color:#fff;
}
.container.about .row.sub-navigation.first-level.show {
    display:block;
}
.container.about .row.sub-navigation.first-level.hide {
    display:none;
}
.container.about .row.sub-navigation.first-level .columns.twelve {
    position:relative;
}
.container.about .row.sub-navigation.first-level .columns.twelve .indicator {
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #f08431;
    position:absolute;
    top:0;
    background:transparent;
    transition:left 0.2s ease-in-out;
}
.container.about .row.sub-navigation.first-level .columns.twelve .indicator.page-company {
    left:9%;
}
.container.about .row.sub-navigation.first-level .columns.twelve .indicator.page-team {
    left:29%;
}
.container.about .row.sub-navigation.first-level .columns.twelve .indicator.page-offices {
    left:49%;
}
.container.about .row.sub-navigation.first-level .columns.twelve .indicator.page-careers {
    left:69%;
}
.container.about .row.sub-navigation.first-level .columns.twelve .indicator.page-press {
    left:89%;
}
.container.about .row.sub-navigation.first-level .columns.twelve .columns.two {
    text-align:center;
}
.container.about .row.sub-navigation.first-level .columns.twelve .columns.two a {
    float:left;
    width:100%;
    color:#000;
    padding:4em 0 1.75em 0;
    font-size:1.1em;
    text-transform:uppercase;
    background-repeat:no-repeat;
    background-position:center 1.25em;
}
.container.about .row.sub-navigation.first-level .columns.twelve .columns.two.company a {
    background-image:url('../../../images/page-templates/about/navigation/company.png');
}
.container.about .row.sub-navigation.first-level .columns.twelve .columns.two.team a {
    background-image:url('../../../images/page-templates/about/navigation/team.png');
}
.container.about .row.sub-navigation.first-level .columns.twelve .columns.two.offices a {
    background-image:url('../../../images/page-templates/about/navigation/offices.png');
}
.container.about .row.sub-navigation.first-level .columns.twelve .columns.two.careers a {
    background-image:url('../../../images/page-templates/about/navigation/careers.png');
}
.container.about .row.sub-navigation.first-level .columns.twelve .columns.two.press a {
    background-image:url('../../../images/page-templates/about/navigation/press.png');
}

/* Sub-Navigation Second Level */
.container.about .row.sub-navigation.second-level {
    display:none;
    top:0;
    position:fixed;
    z-index:10;
    background-color:#fff;
    border-top:8px solid #f08431;
    border-bottom:3px solid #ddd;
    transition:top 0.1s ease-in-out;
    background-color:#fff;
}
.container.about .row.sub-navigation.second-level.show {
    display:block;
}
.container.about .row.sub-navigation.second-level.hide {
    display:none;
}
.container.about .row.sub-navigation.second-level .columns.twelve {
    position:relative;
}
.container.about .row.sub-navigation.second-level .columns.twelve .indicator {
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #f08431;
    position:absolute;
    top:0;
    left:15.5%;
    background:transparent;
    transition:left 0.2s ease-in-out;
}
.container.about .row.sub-navigation.second-level .columns.twelve .indicator.page-company {
    left:24%;
}
.container.about .row.sub-navigation.second-level .columns.twelve .indicator.page-team {
    left:40.5%;
}
.container.about .row.sub-navigation.second-level .columns.twelve .indicator.page-offices {
    left:57%;
}
.container.about .row.sub-navigation.second-level .columns.twelve .indicator.page-careers {
    left:74%;
}
.container.about .row.sub-navigation.second-level .columns.twelve .indicator.page-press {
    left:90.5%;
}
.container.about .row.sub-navigation.second-level .columns.twelve .columns {
    text-align:center;
    display:block;
    margin:0 auto;
}
.container.about .row.sub-navigation.second-level .columns.twelve .columns img {
    width:100px;
}
.container.about .row.sub-navigation.second-level .columns.twelve .columns a {
    float:left;
    width:100%;
    padding:1.25em 0;
    color:#000;
    font-size:1.1em;
    text-transform:uppercase;
}
.container.about .row.navigation-clip.padded {
    padding-top:176px;
}