/* Hero */
.container.about .row.hero {
    background:#fff url('../../../images/page-templates/about/offices/hero.jpg') no-repeat center center;
}
.container.about .row.hero .inner .columns.twelve {
    margin:8em 0 0 0 !important;
}

/* Head */
.container.offices .row.head {
    background-color:#505558;
    padding:3em 0;
}
.container.offices .row.head .columns.twelve h2 {
    font-size:2em;
    font-weight:500;
    line-height:1.15em;
    width:100%;
    text-transform:uppercase;
    text-align:center;
    color:#fff;
    margin:0 0 0.5em 0;
}
.container.offices .row.head .columns.twelve p.description {
    font-size:1.25em;
    font-weight:300;
    text-align:center;
    color:#fff;
    margin:0 0 1em 0;
    line-height:1.35em;
}
/* Locations */
.container.offices .row.locations {
    background-color:#f4f4f4;
    background-size:cover;
    height:673px;
    transition:background-image 0.5s ease-in-out;
}
.container.offices .row.locations .navigation {
    font-size:1.15em;
    float:left;
    padding:30px 0;
    background-color:rgba(255,255,255,0.9);
    position:relative;
    z-index:1;
}
.container.offices .row.locations .navigation a {
    float:left;
    width:100%;
    padding:5px 30px;
    color:#000;
    text-transform:uppercase;
}
.container.offices .row.locations .navigation .current a,
.container.offices .row.locations .navigation a:hover {
    text-decoration:underline;
}
.container.offices .row.locations .information {
    font-size:1.15em;
    float:left;
    margin-left:10px;
    text-align:center;
    padding:30px 40px;
    background-color:rgba(255,255,255,0.9);
    position:relative;
    z-index:5;
    transition:margin-top 0.5s ease-in-out;
}
.container.offices .row.locations .information li {
    display:none;
}
.container.offices .row.locations .information li.current {
    display:block;
}
.container.offices .row.locations .information .directions {
    margin-top:10px;
}
.container.offices .row.locations .information .directions a {
    color:#f28520;
    font-weight:600;
}
.container.offices .row.locations .information .directions a:hover {
    text-decoration:underline;
}
.container.offices .row.locations .information:before {
    display:none;
    content:'';
    width: 0;
    height: 0;
    position:absolute;
    top:38px;
    left:-20px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f28520 transparent transparent;
}