/* Hero */
.container.about .row.hero {
    background:#fff url('../../../images/page-templates/about/press/hero.jpg') no-repeat center center;
}
.container.about .row.hero .columns.twelve {
    margin:8em 0 0 0 !important;
}
.container.about .row.hero .columns.twelve h1,
.container.about .row.hero .columns.twelve p {
    color:#000 !important;
}
.container.about .row.hero .columns.twelve p {
    font-weight:500 !important;
}

/* Entries Listing */
.container.press .row.head {
    background-color:#505558;
    padding:3em 0;
}
.container.press .row.head .columns.twelve h2 {
    font-size:2em;
    font-weight:500;
    line-height:1.15em;
    width:100%;
    text-transform:uppercase;
    text-align:center;
    margin:0 0 0.5em 0;
    color:#fff;
}
.container.press .row.head .columns.twelve p {
    font-size:1.25em;
    font-weight:300;
    text-align:center;
    color:#fff;
    margin:0 0 1em 0;
    line-height:1.35em;
}
.container.press .row.head .columns.twelve p a {
    color:#fff;
    font-weight:600;
}
.container.press .row.head .columns.twelve p a:hover {
    text-decoration:underline;
}
.container.press .row.listing .list .entries {
    float:left;
    width:100%;
    margin:2.5em 0;
}
.container.press .row.listing .list .entries .entry {
    float:left;
    width:100%;
    position:relative;
    font-size:16px;
    padding:40px 20px;
    margin:1.5em 0;
    line-height:22px;
}
.container.press .row.listing .list .entries .entry .image {
    float:left;
    width:30%;
    padding:4em 2em;
    box-shadow:-4px 6px 15px rgba(0,0,0,0.25);
}
.container.press .row.listing .list .entries .entry .copy {
    float:right;
    width:65%;
    padding-left:4.5%;
    font-size:1.15em;
    color:#666;
}
.container.press .row.listing .list .entries .entry .copy .date {
    float:left;
    width:100%;
    font-size:0.8em;
    text-transform:uppercase;
}
.container.press .row.listing .list .entries .entry .copy .title {
    float:left;
    font-weight:600;
    font-size:20px;
    width:100%;
    margin:5px 0 0 0;
    line-height:26px;
}
.container.press .row.listing .list .entries .entry .copy .title a {
    font-size:1.05em;
}
.container.press .row.listing .list .entries .entry .copy .body {
    float:left;
    width:100%;
    margin:10px 0 0 0;
    font-size:18px;
    line-height:26px;
}
.container.press .row.listing .list .entries .entry .copy .body a {
    color:#f28520;
    text-transform:uppercase;
    font-weight:600;
    font-size:14px;
}
.container.press .row.listing .list .entries .entry .copy .body a:hover {
    text-decoration:underline;
}
.container.press .row.listing .list .entries .entry .body p {
    margin:0;
}
.container.press .row.listing .list .entries .more {
    float:left;
    width:100%;
    margin:40px 0 0 0;
}
.container.press .row.listing .list .entries .more a {
    font-weight:600;
    font-size:1.25em;
    color:#fff;
    padding:0.75em 0;
    background-color:#3a879a;
    border-bottom:3px solid #48676F;
    text-transform:uppercase;
    text-align:center;
    clear:both;
    margin:0 auto;
    width:30%;
    display:block;
    transition:background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.container.press .row.listing .list .entries .more a:hover {
    background-color:#2ca5c3;
    color:#fff;
}