/* Hero */
.container.about .row.hero {
    /*background-image:url('../../../images/page-templates/about/press/hero.jpg');*/
}
/* Entries Listing */
.container.press .row.listing {
    background-color:#fff;
    padding:3em 0 5em 0;
}
.container.press .row.listing .columns.twelve {
    position:relative;
}
.container.press .row.listing .columns.twelve h3 {
    font-size:2em;
    font-weight:500;
    line-height:1.15em;
    width:100%;
    text-transform:uppercase;
    text-align:center;
    margin:0 0 1.5em 0;
}
.container.press .row.listing .columns.twelve p.description {
    font-size:1.25em;
    font-weight:300;
    text-align:center;
    color:#666;
    padding:0 0 3em 0;
    margin:0;
    line-height:1.35em;
    border-bottom:1px solid rgba(0,0,0,0.15);
}
.container.press .row.listing .columns.twelve p.description a:hover {
    text-decoration:underline;
}
.container.press .row.listing .list .entries {
    float:left;
    width:100%;
}
.container.press .row.listing .list .entries .entry {
    float:left;
    width:100%;
    position:relative;
    font-size:16px;
    padding:40px 20px;
    line-height:22px;
    border-bottom:1px solid rgba(0,0,0,0.15);
    transition:background-color 0.10s ease-in-out;
}
.container.press .row.listing .list .entries .entry:hover {
    background-color:rgba(0,0,0,0.05);
}
.container.press .row.listing .list .entries .entry .date,
.container.press .row.listing .list .entries .entry .title,
.container.press .row.listing .list .entries .entry .body {
    transition:color 0.20s ease-in-out;
}
.container.press .row.listing .list .entries .entry:hover .date,
.container.press .row.listing .list .entries .entry:hover .title,
.container.press .row.listing .list .entries .entry:hover .body {
    color:#000;
}
.container.press .row.listing .list .entries .entry .image {
    float:left;
    width:22%;
}
.container.press .row.listing .list .entries .entry .copy {
    float:right;
    width:73%;
    padding-left:4.5%;
    font-size:1.15em;
    color:#666;
    border-left:1px solid rgba(0,0,0,0.15);
}
.container.press .row.listing .list .entries .entry .copy .date {
    float:left;
    width:100%;
    font-size:0.8em;
    text-transform:uppercase;
}
.container.press .row.listing .list .entries .entry .copy .title {
    float:left;
    font-weight:600;
    width:100%;
    margin:5px 0 0 0;
}
.container.press .row.listing .list .entries .entry .copy .title a {
    font-size:1.05em;
}
.container.press .row.listing .list .entries .entry .copy .body {
    float:left;
    width:100%;
    margin:10px 0 0 0;
    line-height:1.25em;
}
.container.press .row.listing .list .entries .entry .body p {
    margin:0;
}
.container.press .row.listing .list .entries .more {
    float:left;
    width:100%;
    margin:40px 0 0 0;
}
.container.press .row.listing .list .entries .more a {
    font-weight:600;
    font-size:1.25em;
    color:#fff;
    padding:0.75em 0;
    background-color:#3a879a;
    border-bottom:3px solid #48676F;
    text-transform:uppercase;
    text-align:center;
    clear:both;
    margin:0 auto;
    width:30%;
    display:block;
    transition:background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.container.press .row.listing .list .entries .more a:hover {
    background-color:#2ca5c3;
    color:#fff;
}