/* Hero */
.container.about .row.hero {
    background:#fff url('../../../images/page-templates/about/team/hero.jpg') no-repeat center center;
}
.container.about .row.hero .columns.twelve {
    margin:9em 0 0 0 !important;
}
.container.about .row.hero .columns.twelve h1,
.container.about .row.hero .columns.twelve p {
    color:#000 !important;
}
.container.about .row.hero .columns.twelve p {
    font-weight:500 !important;
}

/* Sections */
.container.team .row.our-executives,
.container.team .row.board-of-directors {
    background-color:#73cde1;
    padding:3em 0;
}
.container.team .row.our-executives .columns.twelve h2,
.container.team .row.board-of-directors .columns.twelve h2 {
    font-size:2em;
    font-weight:500;
    line-height:1.15em;
    width:100%;
    text-transform:uppercase;
    text-align:center;
    margin:0 0 0.5em 0;
    color:#fff;
}
.container.team .row.our-executives .columns.twelve p.description,
.container.team .row.board-of-directors .columns.twelve p.description {
    font-size:1.25em;
    font-weight:300;
    text-align:center;
    color:#fff;
    margin:0 0 1em 0;
    line-height:1.35em;
}
.container.team .row.people {
    background-color:#f4f4f4;
    padding:3em 0;
}
.container.team .row.people .columns.twelve .section {
    float:left;
    width:100%;
    margin-bottom:60px;
}
.container.team .row.people .columns.twelve .section h3 {
    float:left;
    width:100%;
    border-bottom:1px solid #b2b2b2;
    color:#666;
    padding-bottom:10px;
    text-transform:uppercase;
    font-size:16px;
}
.container.team .row.people .columns.twelve .section ul {
    float:left;
    width:100%;
}
.container.team .row.people .columns.twelve .section ul li {
    float:left;
    width:100%;
    margin-top:50px;
}
.container.team .row.people .columns.twelve .section ul li img {
    float:left;
    width:20%;
}
.container.team .row.people .columns.twelve .section ul li .information {
    float:right;
    font-size:1.15em;
    color:#666;
    width:80%;
    padding-left:60px;
}
.container.team .row.people .columns.twelve .section ul li .information .name,
.container.team .row.people .columns.twelve .section ul li .information .title {
    float:left;
    width:100%;
    margin-bottom:2.5px;
    text-transform:uppercase;
    color:#000;
    font-weight:600;
}
.container.team .row.people .columns.twelve .section ul li .information .title {
    font-size:0.9em;
}
.container.team .row.people .columns.twelve .section ul li .information .biography {
    float:left;
    width:100%;
    margin-top:20px;
    line-height:26px;
    overflow:hidden;
    transition:height 0.25s ease-in-out;
}
.container.team .row.people .columns.twelve .section ul li .information .biography.collapsed {
    height:135px;
}
.container.team .row.people .columns.twelve .section ul li .information .read-more-container {
    float:right;
    text-align:right;
    padding:0 0 10px 5px;
    background-color:#f4f4f4;
    margin:-30px 0 0 0;
}
.container.team .row.people .columns.twelve .section ul li .information .read-more-container.show {
    margin:0 0 0 0 !important;
}
.container.team .row.people .columns.twelve .section ul li .information .read-more-container .ellipsis.hide {
    display:none;
}
.container.team .row.people .columns.twelve .section ul li .information .read-more-container .read-more {
    color:#f08431;
    text-decoration:underline;
}
.container.team .row.people .columns.twelve .section ul li .information .read-more-container .read-more:hover {
    color:#000;
}
.container.team .row.people .columns.twelve .section ul li .information .social {
    float:left;
    width:100%;
    margin-top:20px;
}
.container.team .row.people .columns.twelve .section ul li .information .social a {
    color:#666;
}
.container.team .row.people .columns.twelve .section ul li .information .social a:hover {
    text-decoration:underline;
    color:#000;
}
.container.team .row.people .columns.twelve .section ul.board-of-directors li img {
    display:none;
}
.container.team .row.people .columns.twelve .section ul.board-of-directors li .information {
    width:100%;
    float:left;
    padding-left:0;
}
.page-template-page-templatesteam-php footer .row.interests {
    background-color:#fff;
}