/* Hero */
.container.blog .row.hero {
    width:100%;
    height:260px;
    background-color:#000;
    background-size:cover;
}
.container.blog .row.hero .inner .columns.twelve {
    margin:3.5em 0 0 0;
}
.container.blog .row.hero .inner .columns.twelve .details {
    display:block;
    margin:0 auto;
    width:100%;
    text-align:center;
}
.container.blog .row.hero .inner .columns.twelve .details h1 {
    font-size:76px;
    font-weight:600;
    text-transform:uppercase;
    color:#fff;
    line-height:1.05em;
    float:left;
    width:100%;
    margin:0;
    padding:0;
}
.container.blog .row.hero .inner .columns.twelve .details p {
    color:#fff;
    font-size:60px;
    line-height:1.05em;
    font-weight:300;
    float:left;
    width:100%;
    margin:0 0 0.75em 0;
    padding:0;
}
.container.blog .row.hero .inner .columns.twelve .details a {
    background-color:#87b8d2;
    border-bottom:3px solid #314b4e;
    font-weight:600;
    line-height:52px;
    color:#fff;
    padding: 0.35em 1.75em;
    font-size: 1.75em;
    text-transform: capitalize;
    text-decoration: none;
    transition:background-color 0.15s ease-in-out;
}
.container.blog .row.hero .inner .columns.twelve .details a:hover {
    background-color:#78C4EC;
}

/* Sub-Navigation First Level */
.container.blog .row.sub-navigation.first-level {
    width:100%;
    border-top:8px solid #f08431;
    background-color:#fff;
}
.container.blog .row.sub-navigation.first-level.show {
    display:block;
}
.container.blog .row.sub-navigation.first-level.hide {
    display:none;
}
.container.blog .row.sub-navigation.first-level .columns.twelve {
    position:relative;
}
.container.blog .row.sub-navigation.first-level .columns.twelve .indicator {
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #f08431;
    position:absolute;
    top:0;
    background:transparent;
    transition:left 0.2s ease-in-out;
}
.container.blog .row.sub-navigation.first-level .columns.twelve .indicator.home {
    left:11.5%;
}
.container.blog .row.sub-navigation.first-level .columns.twelve .columns.three {
    text-align:center;
}
.container.blog .row.sub-navigation.first-level .columns.twelve .columns.three a {
    float:left;
    width:100%;
    color:#000;
    padding:4em 0 1.75em 0;
    font-size:1.1em;
    text-transform:uppercase;
    background-repeat:no-repeat;
    background-position:center 1.25em;
}
.container.blog .row.sub-navigation.first-level .columns.twelve .columns.three.posts a {
    background-image:url('../../../images/blog/navigation/posts.png');
}
.container.blog .row.sub-navigation.first-level .columns.twelve .columns.three.categories a {
    background-image:url('../../../images/blog/navigation/categories.png');
}
.container.blog .row.sub-navigation.first-level .columns.twelve .columns.three.authors a {
    background-image:url('../../../images/blog/navigation/authors.png');
}
.container.blog .row.sub-navigation.first-level .columns.twelve .columns.three.archives a {
    background-image:url('../../../images/blog/navigation/archives.png');
}

/* Sub-Navigation Second Level */
.container.blog .row.sub-navigation.second-level {
    display:none;
    top:0;
    position:fixed;
    z-index:10;
    background-color:#fff;
    border-top:8px solid #f08431;
    border-bottom:3px solid #ddd;
    transition:top 0.1s ease-in-out;
    background-color:#fff;
}
.container.blog .row.sub-navigation.second-level.show {
    display:block;
}
.container.blog .row.sub-navigation.second-level.hide {
    display:none;
}
.container.blog .row.sub-navigation.second-level .columns.twelve {
    position:relative;
}
.container.blog .row.sub-navigation.second-level .columns.twelve .indicator {
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #f08431;
    position:absolute;
    top:0;
    left:15.5%;
    background:transparent;
    transition:left 0.2s ease-in-out;
}
.container.blog .row.sub-navigation.second-level .columns.twelve .indicator[data-indicator_position="first"] {
    left:24%;
}
.container.blog .row.sub-navigation.second-level .columns.twelve .indicator[data-indicator_position="second"] {
    left:45%;
}
.container.blog .row.sub-navigation.second-level .columns.twelve .indicator[data-indicator_position="third"] {
    left:65.5%;
}
.container.blog .row.sub-navigation.second-level .columns.twelve .columns {
    text-align:center;
    display:block;
    margin:0 auto;
}
.container.blog .row.sub-navigation.second-level .columns.twelve .columns img {
    width:100px;
}
.container.blog .row.sub-navigation.second-level .columns.twelve .columns a {
    float:left;
    width:100%;
    padding:1.25em 0;
    color:#000;
    font-size:1.1em;
    text-transform:uppercase;
}
.container.blog .row.sub-navigation.second-level .columns.twelve .columns.three.start {
    padding-top:0.75em;
}
.container.blog .row.sub-navigation.second-level .columns.twelve .columns.three.start a {
    background-color:#f08431;
    font-weight:600;
    font-size:1.25em;
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    padding:0.5em 2em;
    border-bottom:3px solid #ddd;
    width:200px;
    display:block;
    margin:0 auto;
    float:none;
    transition:background-color 0.15s ease-in-out;
}
.container.blog .row.sub-navigation.second-level .columns.twelve .columns.three.start a:hover {
    background-color:#34ABC9;
}