/* Archives */
.container.content .row .inner.clearfix .columns.three h4 {
    float:left;
    width:100%;
    text-transform:uppercase;
    font-size:18px;
    color:#000;
    padding:2.5px 0 10px 0;
    border-top:1px solid #000;
    cursor:pointer;
    font-weight:600;
    position:relative;
}
.container.content .row .inner.clearfix .columns.three h4:first-child:after {
    display:none;
}
.container.content .row .inner.clearfix .columns.three h4:after {
    content:' ';
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    border-bottom:1px solid #000;
}
.container.content .row .inner.clearfix .columns.three ul,
.container.content .row .inner.clearfix .columns.three ul li {
    float:left;
    width:100%;
}
.container.content .row .inner.clearfix .columns.three ul {
    display:none;
    border-top:1px solid #000;
    padding:10px 0;
}
.container.content .row .inner.clearfix .columns.three ul.show {
    display:block;
}
.container.content .row .inner.clearfix .columns.three ul li a {
    float:left;
    width:100%;
    padding:5px 0;
    text-transform:uppercase;
    font-size:18px;
    color:#000;
    font-weight:400;
}
.container.content .row .inner.clearfix .columns.three ul li a.active {
    color:#acacac;
    font-weight:600;
}
.container.content .row .inner.clearfix .columns.three ul li a.active:hover {
    text-decoration:none;
    color:#acacac;
}
.container.content .row .inner.clearfix .columns.three ul li a:hover {
    text-decoration:underline;
    color:#FF8B00;
}
.container.content .row .inner.clearfix .columns.nine {
    padding-left:2em;
}
.container.content .row .inner.clearfix article {
    margin:0 0 4em 0 !important;
}
.container.content .row .inner.clearfix article .information .featured-image {
    width:230px !important;
    height:auto !important;
}
.container.content .row .inner.clearfix article .information .content {
    height:163px !important;
}
.container.content .row .inner.clearfix article .information .content .social {
    bottom:52px !important;
}
.container.content .row .inner.clearfix article .close {
    display:none;
}
.container.content .row .inner.clearfix article .category-title {
    float:left;
    width:100%;
    margin:0;
    padding:0;
}
.container.content .row .inner.clearfix article .category-title a {
    float:left;
    color:#a3a2a0;
    margin:-10px 0 7.5px 0;
    font-size:15px;
    width:100%;
    text-transform:uppercase;
}
.container.content .row .inner.clearfix article .category-title a:hover {
    text-decoration:underline;
    color:#f08229;
}
