/* Content */
.container.content .row .inner.clearfix {
    border:1px dashed red;
}
.container.content .row .inner.clearfix .columns.eight {
    float:left;
    border:1px dashed red;
}
.container.content .row .inner.clearfix .columns.eight article {
    float:left;
    border:1px dashed red;
}
.container.content .row .inner.clearfix .columns.eight article .title {
    float:left;
    width:100%;
}
.container.content .row .inner.clearfix .columns.eight article .title a {
    color:#000;
    text-transform:uppercase;
    font-size:34px;
    font-weight:600;
}
.container.content .row .inner.clearfix .columns.eight article .meta {
    float:left;
    border:1px dashed red;
}
.container.content .row .inner.clearfix .columns.eight article .meta time {
    float:left;
    color:#a3a2a0;
    border-right:2px solid #a3a2a0;
    padding-right:10px;
}
.container.content .row .inner.clearfix .columns.eight article .meta .author {
    float:left;
}
.container.content .row .inner.clearfix .columns.eight article .information {
    float:left;
    width:100%;
    border:1px dashed red;
}
.container.content .row .inner.clearfix .columns.eight article .information .featured-image {
    float:left;
    border:1px dashed red;
    width:340px;
    height:250px;
}
.container.content .row .inner.clearfix .columns.eight article .information img {
    display:block;
    margin:0 auto;
}
.container.content .row .inner.clearfix .columns.eight article .information .content {
    float:right;
    width:50%;
    border:1px dashed red;
}
.container.content .row .inner.clearfix .columns.eight article .information .content .excerpt {
    float:left;
    width:100%;
    border:1px dashed red;
}
.container.content .row .inner.clearfix .columns.eight article .information .content .social {
    float:left;
    width:100%;
    border:1px dashed red;
}
.container.content .row .inner.clearfix .columns.eight article .information .content .social .networks {
    float:left;
    border:1px dashed red;
}
.container.content .row .inner.clearfix .columns.eight article .information .content .social .networks li {
    float:left;
    border:1px dashed red;
}
.container.content .row .inner.clearfix .columns.eight article .information .content .social .count {
    float:left;
    border:1px dashed red;
}
.container.content .row .inner.clearfix .columns.eight article .information .content .read-more {
    float:left;
    width:100%;
    border:1px dashed red;
}
.container.content .row .inner.clearfix .columns.eight .pagination {
    height:0;
}
.container.content .row .inner.clearfix .columns.four {
    float:right;
    border:1px dashed red;
}