/* Content */
.blog-posts {
    float:left;
}
.container.content .row .inner.clearfix .featured-posts {
    float:left;
    width:100%;
    margin:0 0 3em 0;
    background:#f2f2f2 url('../../../images/blog/home/featured-bg.png') repeat left top;
}
.container.content .row .inner.clearfix .featured-posts .loading {
    float:left;
    text-align:center;
    padding:10px 0;
    width:100%;
    position:relative !important;
    z-index:auto !important;
    border-radius:0 !important;
    left:auto !important;
    bottom:auto !important;
    color:#000 !important;
    background:none !important;
    transition:none !important;
    background-color:transparent !important;
}
.container.content .row .inner.clearfix .featured-posts .loading img {
    margin:0 0 -1px 5px;
}
.container.content .row .inner.clearfix .featured-posts article {
    float:left;
    width:30%;
}
.container.content .row .inner.clearfix .featured-posts article:hover .thumbnail .social {
    bottom:0;
}
.container.content .row .inner.clearfix .featured-posts article.recommendation-0 .thumbnail {
    float:right;
    width:49%;
}
.container.content .row .inner.clearfix .featured-posts article.recommendation-0 .information {
    float:left;
    width:49%;
}
.container.content .row .inner.clearfix .featured-posts article.recommendation-0 {
    width:100%;
    padding:60px 20px 30px 20px !important;
    border-bottom:2px solid #fff;
    margin:0 !important;
    position:relative;
}
.container.content .row .inner.clearfix .featured-posts article.recommendation-0 .information .title a {
    margin:0 !important;
    font-size:30px;
    line-height:31px;
}
.container.content .row .inner.clearfix .featured-posts article.recommendation-0 .category {
    position:absolute;
    top:17px;
    left:20px;
}
.container.content .row .inner.clearfix .featured-posts article.recommendation-1 {
    margin:30px 0 20px 20px !important;
}
.container.content .row .inner.clearfix .featured-posts article.recommendation-2 {
    margin:30px 17px !important;
}
.container.content .row .inner.clearfix .featured-posts article.recommendation-3 {
    margin:30px 0 !important;
}
.container.content .row .inner.clearfix .featured-posts article .category {
    float:left;
    width:100%;
    margin:10px 0 0 0;
}
.container.content .row .inner.clearfix .featured-posts article .category a {
    color:#8b979c;
    font-size:14px;
    text-transform:uppercase;
    font-weight:600;
}
.container.content .row .inner.clearfix .featured-posts article .category a:hover {
    text-decoration:underline;
}
.container.content .row .inner.clearfix .featured-posts article .thumbnail {
    float:left;
    width:100%;
    position:relative;
    overflow:hidden;
}
.container.content .row .inner.clearfix .featured-posts article .thumbnail .social {
    position:absolute;
    left:0;
    bottom:-100px;
    width:100%;
    background-color:#fff;
    padding:5px;
    opacity:0.9;
    overflow:hidden;
    transition:bottom 0.25s ease-in-out;
}
.container.content .row .inner.clearfix .featured-posts article .thumbnail .social a {
    margin:0 5px 0 0;
}
.container.content .row .inner.clearfix .featured-posts article .thumbnail .social a img {
    opacity:1;
}
.container.content .row .inner.clearfix .featured-posts article .thumbnail .social .count {
    opacity:1;
    color:#000;
    position:absolute;
    top:6px;
    left:138px;
}
.container.content .row .inner.clearfix .featured-posts article .thumbnail .image,
.container.content .row .inner.clearfix .featured-posts article .thumbnail .image img,
.container.content .row .inner.clearfix .featured-posts article .thumbnail .social {
    float:left;
    width:100%;
}
.container.content .row .inner.clearfix .featured-posts article .thumbnail .social ul,
.container.content .row .inner.clearfix .featured-posts article .thumbnail .social ul li,
.container.content .row .inner.clearfix .featured-posts article .thumbnail .social ul li a img,
 .container.content .row .inner.clearfix .featured-posts article .thumbnail .social ul li a {
    float:left;
}
.container.content .row .inner.clearfix .featured-posts article .information {
    float:left;
    width:100%;
}
.container.content .row .inner.clearfix .featured-posts article .information .title a {
    float:left;
    width:100%;
    color:#000;
    margin:5px 0 0 0;
    text-transform:uppercase;
    font-size:26px;
    font-weight:500;
    line-height:26px;
    font-family:bebas-neue,sans-serif;
}
.container.content .row .inner.clearfix .featured-posts article.recommendation-0 .information .meta,
.container.content .row .inner.clearfix .featured-posts article.recommendation-0 .information .content .excerpt {
    display:block;
}
.container.content .row .inner.clearfix .featured-posts article .information .meta {
    float:left;
    width:100%;
    display:none;
    margin:5px 0 15px 0;
}
.container.content .row .inner.clearfix .featured-posts article .information .content {
    float:left;
    width:100%;
    height:auto;
}
.container.content .row .inner.clearfix .featured-posts article .information .content a {
    color:#f08229;
    text-transform:uppercase;
    font-size:14px;
    font-weight:600;
}
.container.content .row .inner.clearfix .featured-posts article .information .content a:hover {
    text-decoration:underline;
}
.container.content .row .inner.clearfix .featured-posts article .information .content .excerpt {
    width:auto !important;
    font-size:18px;
    margin:0 !important;
    display:none;
}
.container.content .row .inner.clearfix article {
    float:left;
    margin:0 0 2.5em 0;
}
.container.content .row .inner.clearfix article .category-title {
    float:left;
    width:100%;
    margin:1em 0;
}
.container.content .row .inner.clearfix article .category-title a {
    color:#8b979c;
    font-size:14px;
    text-transform:uppercase;
    font-weight:600;
}
.container.content .row .inner.clearfix article .category-title a:hover {
    text-decoration:underline;
}
.container.content .row .inner.clearfix article .title {
    float:left;
}
.container.content .row .inner.clearfix article .title a {
    float:left;
    width:100%;
    margin:0 0 0.25em 0;
    color:#000;
    text-transform:uppercase;
    font-size:36px;
    font-weight:500;
    line-height:32px;
    font-family:bebas-neue,sans-serif;
    transition:color 0.1s ease-in-out;
}
.container.content .row .inner.clearfix article .meta {
    float:left;
    width:100%;
    margin:0 0 25px 0;
}
.container.content .row .inner.clearfix article .meta time {
    float:left;
    color:#a3a2a0;
    border-right:1px solid #d3d3d3;
    padding:0 10px 0 0;
    margin:0 10px 0 0;
    font-size:14px;
    text-transform:uppercase;
    font-weight:600;
    line-height:14px;
}
.container.content .row .inner.clearfix article .meta .author {
    float:left;
}
.container.content .row .inner.clearfix article .meta .author a {
    float:left;
    font-size:14px;
    color:#f08229;
    text-transform:uppercase;
    font-weight:600;
    line-height:14px;
}
.container.content .row .inner.clearfix article .meta .author a:hover {
    text-decoration:underline;
}
.container.content .row .inner.clearfix article .information {
    float:left;
    width:100%;
}
.container.content .row .inner.clearfix article .information .featured-image {
    float:left;
    width:340px;
    height:250px;
}
.container.content .row .inner.clearfix article .information .featured-image a,
.container.content .row .inner.clearfix article .information img {
    float:left;
    width:100%;
}
.container.content .row .inner.clearfix article .information .content {
    float:right;
    width:48%;
    height:250px;
    position:relative;
}
.container.content .row .inner.clearfix article .information .content .excerpt {
    float:left;
    width:100%;
    font-size:18px;
    margin:-6px 0 0 0;
}
.container.content .row .inner.clearfix article .information .content .social {
    float:left;
    width:100%;
    position:absolute;
    bottom:60px;
    left:0;
}
.container.content .row .inner.clearfix article .information .content .social ul,
.container.content .row .inner.clearfix article .information .content .social ul li {
    float:left;
}
.container.content .row .inner.clearfix article .information .content .social ul li a {
    float:left;
    padding:0 0.15em;
}
.container.content .row .inner.clearfix article .information .content .social ul li:first-child a {
    padding-left:0;
}
.container.content .row .inner.clearfix article .information .content .social .count {
    float:left;
    margin:2px 0 0 7px;
    color:#a3a2a0;
    font-size:14px;
}
.container.content .row .inner.clearfix article .information .content .read-more {
    float:left;
    width:100%;
    position:absolute;
    bottom:5px;
    left:0;
}
.container.content .row .inner.clearfix article .information .content .read-more a {
    color:#f18e50;
    text-transform:uppercase;
    padding:0.3em 1em;
    font-weight:600;
    background-color:#fff;
    border:2px solid #000;
    transition:background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.container.content .row .inner.clearfix article .information .content .read-more a:hover {
    background-color:#000;
    color:#fff;
}
.container.content .row .inner.clearfix article .close {
    float:left;
    width:100%;
    margin:2.5em 0 0 0;
}
.container.content .row .inner.clearfix article .close .dash {
    float:left;
    width:15%;
    height:7px;
    background-color:#dfdfdf;
}
.container.content .row .inner.clearfix .blog-posts .pagination {
    text-indent:-9999px;
}
.blog-posts .loading {
    position:fixed;
    z-index:99;
    bottom:-100px;
    border-radius:7px;
    left:50%;
    color:#fff;
    padding:10px 40px 10px 20px;
    opacity:1;
    background:#000 url('../../../images/blog/home/ajax-loader.gif') no-repeat 86px 15px;
    transition:bottom 0.25s ease-in-out;
}
.blog-posts .loading.show {
    bottom:30px;
}
footer.container.home {
    display:none;
}