/* Global */
.container .row .inner {
    padding:0 5em !important;
}
.container .row .inner {
    max-width:1210px !important;
}

/* Header */
header.container .row.head {
    background-color:#f2f2f2;
    padding:1.25em 0;
}
header.container .row.head .inner.clearfix .columns.eight,
header.container .row.head .inner.clearfix .columns.eight a img {
    float:left;
}
header.container .row.head .inner.clearfix .columns.eight a .sub-title {
    float:left;
    color:#000;
    text-transform:uppercase;
    font-size:2em;
    margin:4px 0 0 0.5em;
}
header.container .row.head .inner.clearfix .columns.four,
header.container .row.head .inner.clearfix .columns.four ul {
    float:right;
}
header.container .row.head .inner.clearfix .columns.four ul li {
    float:left;
}
header.container .row.head .inner.clearfix .columns.four ul li a {
    float:left;
    padding:0 0.15em;
}
header.container .row.head .inner.clearfix .columns.four ul li:last-child a {
    padding-right:0;
}
header.container .row.head .inner.clearfix .columns.four ul li a img {
    float:left;
}
header.container .row.sub-head {
    background-color:#f28520;
}
header.container .row.sub-head .inner.clearfix .columns.eight ul {
    float:left;
}
header.container .row.sub-head .inner.clearfix .columns.eight ul li {
    float:left;
}
header.container .row.sub-head .inner.clearfix .columns.eight ul li a {
    float:left;
    font-size:14px;
    color:#fff;
    font-weight:500;
    padding:0.25em 0.75em 0.45em 0.75em;
    border-right:1px solid #f59d4d;
    border-top:2px solid transparent;
}
header.container .row.sub-head .inner.clearfix .columns.eight ul li a:hover {
    border-top:2px solid #000;
}
header.container .row.sub-head .inner.clearfix .columns.eight ul li:first-child a {
    padding-left:0;
}
header.container .row.sub-head .inner.clearfix .columns.eight ul li:last-child a {
    border-right:none;
}
header.container .row.sub-head .inner.clearfix .columns.four,
header.container .row.sub-head .inner.clearfix .columns.four ul {
    float:right;
}
header.container .row.sub-head .inner.clearfix .columns.four ul li {
    float:left;
}
header.container .row.sub-head .inner.clearfix .columns.four ul li a {
    float:left;
    font-size:14px;
    color:#fff;
    font-weight:400;
    padding:0.25em 0.35em 0.45em 0.35em;
}
header.container .row.sub-head .inner.clearfix .columns.four ul li a:hover {
    font-weight:600;
}
header.container .row.sub-head .inner.clearfix .columns.four ul li.active a:hover {
    text-decoration:none;
}
header.container .row.sub-head .inner.clearfix .columns.four ul li.active a {
    font-weight:700;
}
header.container .row.sub-head .inner.clearfix .columns.four ul li.last a {
    padding-right:0;
}
.row.breadcrumbs {
    margin:0.5em 0 1em 0;
}
.row.breadcrumbs .inner.clearfix ul,
.row.breadcrumbs .inner.clearfix ul li {
    float:left;
}
.row.breadcrumbs .inner.clearfix ul li a,
.row.breadcrumbs .inner.clearfix ul li span {
    float:left;
    color:#959292;
    font-size:12px;
    margin:0 0.5em 0 0;
}
.row.breadcrumbs .inner.clearfix ul li a:hover {
    text-decoration:underline;
}
.row.breadcrumbs .inner.clearfix ul li a:after,
.row.breadcrumbs .inner.clearfix ul li span:after {
    content:'›';
    float:right;
    margin:-1px 0 0 0.5em;
}
.row.breadcrumbs .inner.clearfix ul li:last-child a:after,
.row.breadcrumbs .inner.clearfix ul li:last-child span:after {
    display:none;
}

/* Featured Header Promotion */
.container.content .row .inner.clearfix .header-promotion {
    float:left;
    width:100%;
    margin:0 0 2.5em 0;
}
.container.content .row .inner.clearfix .header-promotion .image {
    float:left;
    width:40%;
}
.container.content .row .inner.clearfix .header-promotion .image img {
    float:left;
    width:100%;
}
.container.content .row .inner.clearfix .header-promotion .information {
    float:right;
    width:60%;
    position:relative;
    padding-left:30px;
}
.container.content .row .inner.clearfix .header-promotion .information .title {
    float:left;
    width:100%;
}
.container.content .row .inner.clearfix .header-promotion .information .description {
    float:left;
    width:100%;
    font-size:18px;
}
.container.content .row .inner.clearfix .header-promotion .information .button {
    float:left;
    margin:1em 0 0 0;
    color:#f18e50;
    text-transform:uppercase;
    padding:0.3em 1em;
    font-weight:600;
    background-color:#fff;
    border:2px solid #000;
    transition:background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.container.content .row .inner.clearfix .header-promotion .information .button:hover {
    background-color:#000;
    color:#fff;
}

/* No posts */
article.no-posts {
    float:left;
    width:100%;
    margin:1em 0 0 0 !important;
}
article.no-posts .title {
    float:left;
    width:100%;
    margin:0 0 0.25em 0;
    color:#000;
    text-transform:uppercase;
    font-size:36px;
    font-weight:500;
    line-height:32px;
    font-family:bebas-neue,sans-serif;
    transition:color 0.1s ease-in-out;
}
article.no-posts .information,
article.no-posts .information .content,
article.no-posts .information .content .excerpt {
    float:left !important;
    width:100% !important;
}
article.no-posts .information .content .excerpt {
    font-size:18px;
    margin:0 !important;
}