/* Sidebar */
.container.content .row .inner.clearfix .columns.four {
    float:right;
    position:relative;
    z-index:5;
}
.container.content .row .inner.clearfix .columns.four.sticky .container {
    position:fixed;
    width:291px;
    margin:0 0 0 72.5px;
    top:45px;
}
.container.content .row .inner.clearfix .columns.four .container {
    float:right;
    width:80%;
    background-color:transparent;
}
.container.content .row .inner.clearfix .columns.four .container .subscription {
    float:left;
    width:100%;
    background-color:#f2f2f2;
    padding:1em;
}
.container.content .row .inner.clearfix .columns.four .container .subscription h2 {
    float:left;
    width:100%;
    margin:0;
    color:#000;
    text-transform:uppercase;
    font-size:36px;
    font-weight:500;
    line-height:32px;
    text-align:center;
    font-family:bebas-neue;
}
.container.content .row .inner.clearfix .columns.four .container .subscription p {
    float:left;
    width:100%;
    font-size:18px;
    margin:0.75em 0;
    text-align:center;
}
.container.content .row .inner.clearfix .columns.four .container .subscription .gform_wrapper {
    float:left;
    width:100%;
    max-width:100% !important;
    font-size:18px;
}
.container.content .row .inner.clearfix .columns.four .container .subscription .gform_wrapper li {
    float:left;
    width:100%;
    margin:0 0 1em 0;
}
.container.content .row .inner.clearfix .columns.four .container .subscription .gform_wrapper li.hidden {
    display:none;
}
.container.content .row .inner.clearfix .columns.four .container .subscription .gform_wrapper li.hidden.show {
    display:block;
}
.container.content .row .inner.clearfix .columns.four .container .subscription .gform_wrapper label {
    display:none;
}
.container.content .row .inner.clearfix .columns.four .container .subscription .gform_wrapper input[type=text] {
    float:left;
    width:100%;
    padding:0.75em;
    border:none;
    font-size:14px;
    text-transform:uppercase;
}
.container.content .row .inner.clearfix .columns.four .container .subscription .gform_wrapper select {
    float:left;
    width:100%;
    padding:0.75em;
    border:none;
    font-size:14px;
    text-transform:uppercase;
    color:#c3c1c1;
}
.container.content .row .inner.clearfix .columns.four .container .subscription .gform_wrapper select option {
    color:#000;
}
.container.content .row .inner.clearfix .columns.four .container .subscription .gform_footer {
    float:left;
    width:100%;
    margin:0;
    padding:0;
}
.container.content .row .inner.clearfix .columns.four .container .subscription .gform_footer input[type=submit] {
    float:left;
    width:100%;
    padding:0.25em 0 0.35em 0;
    background-color:#73cde1;
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    border:none;
    font-size:23px;
    text-align:center;
    transition:background-color 0.1s ease-in-out;
}
.container.content .row .inner.clearfix .columns.four .container .subscription .gform_footer input[type=submit]:hover {
    background-color:#65e3ff;
}
.container.content .row .inner.clearfix .columns.four .container .search {
    float:left;
    width:100%;
    margin:1.25em 0 0 0;
}
.container.content .row .inner.clearfix .columns.four .container .search input[type=text] {
    float:left;
    width:100%;
    padding:0.75em;
    border:none;
    font-size:14px;
    text-transform:uppercase;
    border:1px solid #aca9a9;
}
.container.content .row .inner.clearfix .columns.four .container .categories {
    float:left;
    width:100%;
    margin:1.25em 0 0 0;
}
.container.content .row .inner.clearfix .columns.four .container .categories select {
    float:left;
    width:100%;
    padding:0.75em;
    border:none;
    font-size:14px;
    text-transform:uppercase;
    color:#c3c1c1;
    border:1px solid #aca9a9;
}
.container.content .row .inner.clearfix .columns.four .container .categories select option {
    color:#000;
}