/* Sections */
.container.privacy-policy .row.content {
    background-color:#f4f4f4;
    padding:3em 0 5em 0;
}
.page-template-page-templatesprivacy-policy-php footer .row.interests {
    background-color:#fff;
}
.container.privacy-policy .row.content a {
    color:#D37E2C;
}
.container.privacy-policy .row.content a:hover {
    text-decoration:underline;
}