/* Hero */
.container.page.guidelines .row.hero {
    width:100%;
    height:260px;
    background-color:#000;
    background-size:cover;
    border-bottom:8px solid #f08431;
    background-image:url('../../../images/page-templates/guidelines/hero.jpg');
}
.container.page.guidelines .row.hero .inner .columns.twelve {
    margin:3.5em 0 0 0;
}
.container.page.guidelines .row.hero .inner .columns.twelve .details {
    display:block;
    margin:0 auto;
    width:100%;
    text-align:center;
}
.container.page.guidelines .row.hero .inner .columns.twelve .details h1 {
    font-size:76px;
    font-weight:300;
    text-transform:uppercase;
    color:#fff;
    line-height:1.05em;
    float:left;
    width:100%;
    margin:0;
    padding:0;
}
.container.page.guidelines .row.hero .inner .columns.twelve .details p {
    color:#fff;
    font-size:60px;
    line-height:1.05em;
    font-weight:300;
    float:left;
    width:100%;
    margin:0 0 0.75em 0;
    padding:0;
}

/* Content*/
.container.page.guidelines .row.content .inner .columns.twelve {
    padding:3em 0;
    font-size: 1.15em;
    color: #666;
    line-height: 1.5em;
}
.container.page.guidelines .row.content .inner .columns.twelve h3,
.container.page.guidelines .row.content .inner .columns.twelve p {
    color:#000;
}
.container.page.guidelines .row.content .inner .columns.twelve .content-wrapper {
    float:left;
    width:100%;
    margin:10px 0 30px 0;
}
.container.page.guidelines .row.content .inner .columns.twelve .content-wrapper .title {
    text-align:center;
    text-transform:uppercase;
    margin:0 0 50px 0;
}
.container.page.guidelines .row.content .inner .columns.twelve .content-wrapper .bar-wrapper {
    float:left;
    width:100%;
    margin:0 0 20px 0;
}
.container.page.guidelines .row.content .inner .columns.twelve .content-wrapper .bar-wrapper .bar {
    float:left;
    width:94px;
    height:7px;
    background-color:#f08229;
    text-indent:-9999px;
    display:block;
}
.container.page.guidelines .row.content .inner .columns.twelve .accordion {
    float:left;
    width:100%;
}
.container.page.guidelines .row.content .inner .columns.twelve .accordion .entry {
    float:left;
    width:100%;
}
.container.page.guidelines .row.content .inner .columns.twelve .accordion .entry .question {
    float:left;
    width:100%;
    font-weight:500;
    font-size:1.05em;
    border-top:1px solid rgba(0,0,0,0.15);
    padding:10px 0 10px 10px;
    cursor:pointer;
    transition:background-color 0.15s ease-in-out;
    position:relative;
}
.container.page.guidelines .row.content .inner .columns.twelve .accordion .entry .question:after {
    content:"+";
    position:absolute;
    top:7px;
    font-weight:700;
    font-size:30px;
    right:10px;
}
.container.page.guidelines .row.content .inner .columns.twelve .accordion .entry .question:hover {
    color:#D66306;
}
.container.page.guidelines .row.content .inner .columns.twelve .accordion .entry.last .question {
    border-bottom:1px solid rgba(0,0,0,0.15);    
}
.container.page.guidelines .row.content .inner .columns.twelve .accordion .entry .answer {
    float:left;
    width:100%;
    margin:0;
    padding:20px;
    display:none;
}
.container.page.guidelines .row.content .inner .columns.twelve .accordion .entry .answer > p {
    margin-top:0;
}
.container.page.guidelines .row.content .inner .columns.twelve .accordion .entry.active .question:after {
    content:"-";
}
.container.page.guidelines .row.content .inner .columns.twelve .accordion .entry.active .question {
    color:#D66306;
    border-bottom:1px solid rgba(0,0,0,0.15);    
}
.container.page.guidelines .row.content .inner .columns.twelve .accordion .entry.active .answer {
    display:block;
    background-color:rgba(0,0,0,0.025);
}