/* Hero */
.container.contact .row.hero {
    width:100%;
    height:260px;
    background-color:#000;
    background-size:cover;
    border-bottom:8px solid #f08431;
}
.container.contact .row.hero .inner .columns.twelve {
    margin:5.5em 0 0 0;
}
.container.contact .row.hero .inner .columns.twelve .details {
    display:block;
    margin:0 auto;
    width:100%;
    text-align:center;
}
.container.contact .row.hero .inner .columns.twelve .details h1 {
    font-size:76px;
    font-weight:300;
    text-transform:uppercase;
    color:#fff;
    line-height:1.05em;
    float:left;
    width:100%;
    margin:0;
    padding:0;
}
.container.contact .row.hero .inner .columns.twelve .details p {
    color:#fff;
    font-size:60px;
    line-height:1.05em;
    font-weight:300;
    float:left;
    width:100%;
    margin:0 0 0.75em 0;
    padding:0;
}

/* Sections */
.container.contact .row.content {
    background-color:#fff;
    padding:3em 0 5em 0;
}
.container.contact .row.content .columns.twelve {
    position:relative;
}
.container.contact .row.content .columns.twelve h2 {
    font-size:2em;
    font-weight:500;
    line-height:1.15em;
    width:100%;
    text-transform:uppercase;
    text-align:center;
    margin:0 0 1.5em 0;
}
.container.contact .row.content .columns.twelve p.description {
    font-size:1.25em;
    font-weight:300;
    text-align:center;
    color:#666;
    margin:0 0 3em 0;
    line-height:1.35em;
}
.container.contact .row.content .columns.twelve .form-selector {
    float:left;
    width:100%;
    margin:0 0 40px 0;
}
.container.contact .row.content .columns.twelve .form-selector label {
    float:left;
    width:100%;
    font-size:1.15em;
    font-weight:bold;
    margin:0 0 10px 0;
}
.container.contact .row.content .columns.twelve .form-selector select[name=forms] {
    float:left;
    width:46.5%;
    padding:10px;
    font-size:1.15em;
}
.container.contact .row.content .columns.twelve .forms .form {
    float:left;
    width:100%;
    display:none;
}
.container.contact .row.content .columns.twelve .forms .form.show {
    display:block;
}
.container.contact .row.content .columns.twelve .forms .form #gforms_confirmation_message {
    float:left;
    width:100%;
    font-size:1.15em;
    text-align:center;
    text-transform:uppercase;
    font-weight:700;
    font-size:23px;
    margin:20px 0 0 0;
}
.container.contact .row.content .columns.twelve .forms .form ul {
    float:left;
    width:100%;
}
.container.contact .row.content .columns.twelve .forms .form ul li {
    float:left;
    width:50%;
    margin:0 0 15px 0;
    clear:none !important;
}
.container.contact .row.content .columns.twelve .forms .form ul li label {
    float:left;
    width:100%;
    font-size:1.15em;
    margin:0 0 10px 0;
}
.container.contact .row.content .columns.twelve .forms .form ul li input,
.container.contact .row.content .columns.twelve .forms .form ul li select {
    float:left;
    width:95%;
    padding:10px;
    font-size:1.15em;
}
.container.contact .row.content .columns.twelve .forms .form ul li textarea {
    float:left;
    clear:both;
    width:97.5%;
    padding:10px;
    font-size:1.15em;
}
.container.contact .row.content .columns.twelve .forms .form ul li.hidden {
    display:none;
}
.container.contact .row.content .columns.twelve .forms .form ul li.textarea {
    width:100%;
}
.container.contact .row.content .columns.twelve .forms .form input[type=submit] {
    color:#fff;
    font-weight:600;
    padding:0.5em 2.5em;
    font-size:1.15em;
    text-transform:uppercase;
    text-decoration:none;
    border:none;
    border-bottom:3px solid #48676F;
    background-color:#3a879a;
    transition:background-color 0.15s ease-in-out;
}
.container.contact .row.content .columns.twelve .forms .form input[type=submit]:hover {
    background-color:#2ca5c3;
}